* {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
        
}

body {
    background-color:#1b267e;
    
}

h1 {
    color:#ffff;
    text-align: center;
    
}

#score-game {
    display: flex;
    align-items: center;
    justify-content: center;

}

#player, #computer {
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    color: #ffff;            
}

#player {
    background-color:#7d71ef;
}

#computer {
    background-color: #74b9ff;
}

#versus {
    font-size: 30px;
    font: bold;
    width: 70px;
    text-align: center;
    color: #ffff;
}

#player-name, #computer-name {
    margin: 0;
    padding: 0;
}

#player-name {
    text-align: left;
}

#computer-name {
    text-align: right;
}

#player-score, #computer-score {
    position: absolute;
    bottom: 10px;
    font-size: 32px;           
}

#player-score {
    right: 20px;
}

#computer-score {
    text-align: left;
}

ul#player-choice, ul#computer-choice {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul#player-choice li, ul#computer-choice li {
    display: inline;
}

ul#player-choice li a, ul#computer-choice li a {
    opacity: .2;
}
            
ul#player-choice li a:hover, ul#playerChoice li a.selected,
#idcomputerChoice li a.selected {
    opacity: 1;
}

ul#player-choice li a img, ul#computer-choice li a img {
    max-width: 80px;
}

#messages {
    background-color: #b2bec3;
    font-size: 32px;
    border-radius: 5px;
    margin: 40px 0;
    padding: 20px;
    color: #2B2753;
    font: bold;
}
