* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightblue;
}
header {
    background: white;
    padding: 20px;
}

header h1{
    color: #24272E;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score-board {
    margin: 20px auto;
    text-align: center;
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    font-size: 45px;
    padding: 15px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}